extends ../template

block variables
	- var title = 'Обо мне'

block content
	h1 Обо мне
		p Мне 29 лет и я начинающий программист. Это мой первый опыт работы с Gulp и Pug. К смене профессии шел очень долго и решился относительно не давно. Надеюсь эти курсы помогут мне сменить профессию.
		a(href='/index.html') Назад на главную.
