extends ../template

block variables
	- var title = 'Контакты'

block content
	h1 Контакты
		p Все вопросы можно задавать по Slack или отправить на почту alexey20.05@inbox.ru.
		a(href='/index.html') Назад на главную.